@use "sass:math";

// @import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");

@import "_fonts.scss";

@import "_reset.scss";

@import "_mixins.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$backgroundColor: #d2d6d4;
$textColor: #000000;
$fontMain: "Roboto", sans-serif;

$breakpoint-lg: toEm(991.98);
$breakpoint-md: toEm(767.98);
$breakpoint-sm: toEm(450);

body {
   font-family: $fontMain;
   color: $textColor;
   background-color: $backgroundColor;
   opacity: 0;
   transition: opacity 1s;
}
.loaded {
   opacity: 1;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: toPx($containerWidth);
   margin: 0 auto;
   padding: 0 0.9375rem;
}

.header {
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 7.5rem;
      padding-block: 0.625rem;
   }
   &__title {
      font-size: 2.125rem;
      font-weight: 600;
   }
}
.page {

   // .page__container

   &__container {
      padding-block: 1.25rem;
   }

   // .page__task

   &__task {
   }
}
.task {
   &:not(:last-child) {
      margin-bottom: 1.25rem;
   }
   &__container {
      padding-block: 2.5rem;
      background-color: rgb(222, 224, 218);
      border-radius: 1.875rem;
      border: toRem(2) solid #000000;
      *:not(:last-child) {
         margin-bottom: 20px;
      }
   }
   &__title {
      font-size: 1.625rem;
      font-weight: 600;
   }
   &__question {
      h3 {
         font-weight: 600;
      }
   }
   &__answer {
      span {
         font-weight: 600;
         margin-bottom: toRem(10);
      }
      ol {
         padding-left: toRem(15);
      }
      pre {
         font-size: toRem(18);
      }
   }
   
   &__button,
   &__link {
      padding-inline: toRem(10);
      padding-block: toRem(12);
      font-size: toRem(18);
      border: 2px solid #000000;
      border-radius: toRem(8);
      inline-size: toRem(200);
      background-color: #fff;
      text-align: center;
      @media (any-hover: hover) {
         &:hover {
            box-shadow: 0 0 toRem(5) 0 #000000;
         }
      }
   }
}
.item {
   width: 6.25rem;
   text-align: center;
   padding-inline: 0.625rem;
   padding-block: 0.625rem;
   background-color: #9ce3af;
   text-transform: uppercase;
   border: 1px solid #000000;
   border-radius: 0.5rem;
   cursor: pointer;
}
.box{
   left: -100%;
   width: 12.5rem;
   height: 12.5rem;
   border-radius: 0.625rem;
   background-color: #8b9c86;
}
.active {
   background-color: #bbb3e1;
}
.footer {
   background-color: #94a59d;
   transition: background-color 1s;
   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 7.5rem;
      padding-block: 0.625rem;
   }
}

