@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");

/* =========================================================================== */
@import url("reset.css");

@import url("fonts.css");
/* =============================================== */

body {
   font-family: "Proxima Nova",sans-serif;
   color: #2B2929;
}
[class*="__container"]{
   max-width: 1340px;
   margin: 0 auto;
   overflow: hidden;
}
/* ======================Header=================== */
.header {
   background: radial-gradient(circle, rgba(248,248,248,1) 0%, rgba(238,233,233,1) 94%);
   padding: 40px 0px;
}
.heade__container{
   padding: 0px 10px;
   font-size: 0;
}
.header__list {
   text-align: center;
}
.header__item {
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 20px;
}
.last{
   margin-bottom: 0;
}
/* ======================Krovato=================== */
.page__krovato {
   color: #2B2929;
   background-color: #F8F8F8;
}
.krovato__container {
   max-width: 1070px;
   margin: 0 auto;
   padding: 40px 10px;
}
.krovato__header {
   margin-bottom: 40px;
}
.krovato__header p {
   margin-bottom: 10px;
}
.krovato__title {
   font-size: 40px;
   line-height: 1.2; /* 48/40 */
   font-weight: 600;
   margin-bottom: 40px;
}
.krovato__image {
   border-radius: 8px;
   overflow: hidden;
   width: 100%;
   margin-bottom: 40px;
}
.text {
   line-height: 1.875; /* 30/16 */
}
.krovato__sub-title {
   font-size: 20px;
   line-height: 1.4; /* 28/20 */
   font-weight: 600;
   margin-bottom: 30px;
}
.krovato-list {
   margin-bottom: 40px;
}
.item {
   background: url("../img/krovato/mark.svg") 0 0/ 32px no-repeat;
   padding-left: 47px;
   min-height: 32px;
   margin-bottom: 20px;
}
/* =====================EduPlay======================= */
.page__eduplay {
   background: #914CFF url("../img/eduplay/background.png") 0 0 / cover no-repeat;
   font-family: "Quicksand";
   color: #fff;
}
.eduplay__container {
   background: url("../img/eduplay/alphabet.png") 137% 20%  no-repeat, url("../img/eduplay/patterns.png") right  21% no-repeat;;
   max-width: 1300px;
   margin: 0 auto;
   padding: 0px 10px;
   font-size: 0;
}
.eduplay__content {
   display: inline-block;
   max-width: 46.875%; /* 600/1280 */
   margin-right: 132px;
   padding: 121px 0px;
}
.eduplay__title {
   font-size: 40px;
   line-height: 1.2; /* 48/40 */
   font-weight: 700;
   margin-bottom: 24px;
}
.eduplay__text {
   font-size: 20px;
   line-height: 1.6; /* 32/20 */
   margin-bottom: 24px;
}
.eduplay__link {
   background: url("../img/eduplay/button-labe.png") 10% 50%  / 16px no-repeat;
   font-size: 16px;
   line-height: 1.5625; /* 25/16 */
   font-weight: 700;
   background-color: #fff;
   color: #0D1216;
   padding: 12px 20px 12px 40px;
   border-radius: 8px;
}
.eduplay__image {
   display: inline-block;
   vertical-align: top;
   /* не розумію чому положення не змінюється коли задаєш його у відсотках */
   background: url("../img/eduplay/blob.svg") 20px 47px / contain no-repeat;
   font-size: 16px;
}
.eduplay__image img {
   max-width: 100%;
}
/* ==========================EcommerceMinimal===================================== */
.pade__ecommerceminimal {
   font-family: "Roboto";
   color: #000;
   background: url("../img/ecommerceminimal/branch-small.svg") 0 85% no-repeat, 
   url("../img/ecommerceminimal/branch-big.svg") right 65% no-repeat,#1E28320D;
   padding-top: 80px;
   padding-bottom: 60px;
}
.ecommerceminimal__container {
   padding: 0px 10px;
   font-size: 0;
}
.ecommerceminimal__content {
   display: inline-block;
   max-width: 686px;
   padding-top: 75px;
   margin-right: 98px;
}
.ecommerceminimal__title {
   font-size: 74px;
   font-weight: 300;
   line-height: 55px;
   margin-bottom: 52px;
}
.ecommerceminimal__text {
   font-size: 30px;
   line-height: 1.8; /* 55/30 */
   text-transform: capitalize;
   margin-bottom: 66px;
}
.shop {
   font-size: 29px;
   padding: 19px 26px 19px 64px;
   color: #fff;
   text-transform: capitalize;
   background: #1e2832 url("../img/ecommerceminimal/icon.svg")  26px center no-repeat;
}
.ecommerceminimal__image{
   display: inline-block;
   vertical-align: top;
   padding: 50px 0;

}
.ecommerceminimal__item{
   border: 2px solid #B6B7B7;
   border-radius: 160px 0;
}
.ecommerceminimal__item img{
   max-width: 100%;
   border-radius: 160px 0;
   margin: -20px 18px 20px -18px ;
}
/* ========================Practice==================================== */
.page__practice{
   background-color: #f1dcdc;
   padding: 60px 0px;
   font-weight: 600;
}
.practice__container{
   max-width: 1290px;
   margin: 0 auto; 
}
.practice__body{
   background:  /*  url("../img/practice/mony.svg") 0 0 / contain no-repeat, */ linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,220,220,1) 70%); 
   border-radius: 8px;
   
}
.practice__content{
   display: inline-block;
   max-width: 550px;
   padding: 88px 50px;
   margin-right: 50px;
}
.practice__title {
   font-size: 40px;
   line-height: 1.2; /* 48/40 */
   margin-bottom: 30px;
}
.practice__sub-title {
   font-size: 26px;
   line-height: 1.30769231;/* 34/26 */
   margin-bottom: 20px;
}
.text {
   font-size: 20px;
   line-height: 200%; /* 40/20 */
}
span{
   border: solid 2px #f1aeae;
}
.image{
   vertical-align: top;
}
.practice__button {
   max-width: 1090px;
   margin: 0 auto;
   padding: 60px;
}
.button__item {
   display: inline-block;
   margin-right: 100px;
}
.item__title {
   background-color: #fff;
   font-size: 24px;
   letter-spacing: 2px;
   text-align: center;
   margin-bottom: 30px;
   outline: 5px solid  #f1aeae;
   outline-offset: 3px;
}
.item__buttton {
   font-size: 16px;
   letter-spacing: 4px;
   padding: 10% 20%;
   background-color: #F8F8F8;
   border-radius: 20px;
   box-shadow: 2px 4px 5px #f1aeae;
   margin-bottom: 20px;
}
.button_2 {
   opacity: 0.5;
}
.button_3{
   visibility: hidden;
}
/* ===========================Footer===================================== */
.footer {
   text-align: center;
   padding: 40px 0;
   background-color: #f1dcdc;
}
.footer__link {
   font-size: 20px;
}